In [0]:
# Task 1.1
#Coding in Google Colab since it's office laptop. have raised the requested installing Anaconda.

In [0]:
# Task 1.2
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line.

a=[] # Define array
l = range(2000, 3201)
for x in l:  
  if (x%7==0) and (x%5!=0):
    a.append(str(x))
print (a)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

In [0]:
# Task 1.3
# Write a Python program to accept the user's first and last name and then getting them printed in
# the the reverse order with a space between first name and last name.

firstName = input("Enter your firstname: ")
lastName = input("Enter your lastName: ")

print("Output is :")
print(firstName[::-1] +" " + lastName[::-1])

Enter your firstname: Mehul
Enter your lastName: Solanki
Output is :
luheM iknaloS

In [0]:
# Task 1.4
# Write a Python program to find the volume of a sphere with diameter 12 cm.
# Formula: V=4/3 * Ï€ * r 3

daimeter = 12 # Define Diameter
pi = 3.1416 # Pie constant value
r = daimeter/2 #Retreive radius
v = (4/3)* pi * (r**3)
print (v) # calculating Volume

904.7807999999999

In [0]:
# Task 2.1
# Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

val = input("Add numbers with ',':")
a=str(val)
b = a.split(',')
b=list(b)
print (b)
#print(a.split(',')) # Alternate solution without variable b

Add numbers with ',':1,2,22,4,5
['1', '2', '22', '4', '5']

In [0]:
# Task 2.2
Create the below pattern using nested for loop in Python.

n = 5
array = []
for j in range(1,n+1):
    array.append(j)
    print("*"*j)
for i in range(n-1,0,-1):
    array.append(i)
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [0]:
# Task 2.3
# Write a Python program to reverse a word after accepting the input from the user.
# Sample Output:
# Input word: AcadGild
# Output: dilGdacA

l = input("Enter Text: ")

print("Output is :")
print(l[::-1])

Enter Text: this is the text added
Output is :
dedda txet eht si siht

In [0]:
# Task 2.4
# Write a Python Program to print the given string in the format specified in the sample output.
# WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
# SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
# its citizens

# Sample Output:
# WE, THE PEOPLE OF INDIA,
#   having solemnly resolved to constitute India into a SOVEREIGN, !
#     SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
#      and to secure to all its citizens

a="WE, THE PEOPLE OF INDIA,"
b="having solemnly resolved to constitute India into a SOVEREIGN, !"
c="SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"
d="and to secure to all its citizens"
indent="\n\t"
#print(a+"\n\t"+b+"\n\t\t"+c+"\n\t\t "+d) # Hard cord space
print(a+indent+b+indent+"\t"+c+indent+"\t "+d)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens