In [0]:
# Task 1.1
#Coding in Google Colab since it's office laptop. have raised the requested installing Anaconda.

In [130]:
# Task 1.2
a=[] # Define array
l = range(2000, 3201)
for x in l:  
  if (x%7==0) and (x%5!=0):
    a.append(str(x))
print (a)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

In [192]:
# Task 1.3
firstName = input("Enter your firstname: ")
lastName = input("Enter your lastName: ")

print("Output is :")
print(firstName[::-1] +" " + lastName[::-1])

Enter your firstname: abc
Enter your lastName: xyz
Output is :
cba zyx

In [132]:
# Task 1.4
daimeter = 12 # 
pi = 3.1416 # Pie constant value
r = daimeter/2 #Retreive radius
v = (4/3)* pi * (r**3)
print (v) # calculating Volume

904.7807999999999

In [133]:
# Task 2.1
val = input("Add numbers with ',':")
a=[val]
print (val)

Add numbers with ',':1,2,3,4,4
1,2,3,4,4

In [190]:
# Task 2.2
n = 5
array = []
for j in range(1,n+1):
    array.append(j)
    print("*"*j)
for i in range(n-1,0,-1):
    array.append(i)
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [191]:
# Task 2.3
l = input("Enter Text: ")

print("Output is :")
print(l[::-1])

Output is :
luhem

In [216]:
# Task 2.4
a="WE, THE PEOPLE OF INDIA,"
b="having solemnly resolved to constitute India into a SOVEREIGN, !"
c="SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"
d="and to secure to all its citizens"
indent="\n\t"
#print(a+"\n\t"+b+"\n\t\t"+c+"\n\t\t "+d) # Hard cord space
print(a+indent+b+indent+"\t"+c+indent+"\t "+d)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens
WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens